dialog {
    border-style: none;
    border-radius: var(--bal-radius-large);
    padding: 2.5rem;
}

:root {
    --app-animation-time: 0.2s;
}
.bm-rows {
    display: grid;
    gap: 10px
}
.bm-row {
    /*gap: 5px*/
}
.card .card-image img.og-image {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Remove any default inline spacing */
    margin: auto;    /* Center the image horizontally (optional) */
    width: auto;
}

.bm-card {
    /*margin-bottom: 5px;*/
}
.bm-row {
    /*min-height: 200px;*/
}
.bm-card-loading {
    min-height: 50px;
}

dialog {
    transition: all var(--app-animation-time) ease-in-out allow-discrete;
    transform: translateY(100vh) rotate(20deg);

    &[open] {
        transform: translateY(0);
        @starting-style {
            transform: translateY(-100vh) rotate(20deg);
        }
    }

}
dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 25%);
    backdrop-filter: blur(1px);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */
@starting-style {
    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 25%);
    }
}
